.ant-upload-list.ant-upload-list-picture {
  padding: 0 0 0 2%;
  margin-inline-end: 8px;
  width: 100%;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.huyEdit {
  position: absolute;
  right: 11%;
  top: -35px;
}
.ResetPassword {
  position: absolute;
  left: 11%;
  top: -35px;
}

.ant-upload-list.ant-upload-list-picture::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.ant-upload-list.ant-upload-list-picture::-webkit-scrollbar-thumb {
  background-color: #0798db;
  border-radius: 10px;
}
.ant-upload-list.ant-upload-list-picture::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.ant-form-item.css-dev-only-do-not-override-htwhyh {
  width: 90%;
}
.anticon.anticon-minus-circle {
  width: 10%;
  align-self: center;
}
